body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.widget {
  background: #ddd;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
